{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Product List
{% endblock %}

{% block content %}
    {% for product in products %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h2>{{ product.name }}</h2>
        <h3><a href="{{ product.collection.get_absolute_url }}">{{ product.collection }}</a></h3>  <!-- Changed category to collection -->
        <p class="price">${{ product.price }}</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
        {{ product.description|linebreaks }}
    </div>
    <br>
    {% endfor %}
    <div>
        <a href="{% url 'shop:product_list' %}" class="button light">Continue shopping</a>
    </div>
{% endblock %}
